.listing-item,.listing-seperator {
	list-style-type: none;
	margin: 3px;
}

.listing-item .item-title {
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	min-width: 600px;
}

.listing-item a {
	padding: .2em 1em;
	font-family: Georgia, "Microsoft YaHei", serif, Galdeano,
		"Hiragino Sans GB", sans-serif;
}

.listing-item time {
	color: #999999;
	font-family: Georgia, "Microsoft YaHei", serif, Galdeano,
		"Hiragino Sans GB", sans-serif;
}

.listing-seperator {
	font-weight: bold;
}

.listing-item {
	overflow-x: hidden;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-bottom-width: 1px;
	border-bottom-color: rgba(63, 63, 63, 0.16);
	border-bottom-style: dotted;
	padding-left: 20px;
}

.listing-item:hover {
	background-color: #E0E0E0;
}

.content {
	font-size: 16px;
	line-height: 24px;
}

.meta {
	text-align: right;
	font-size: 12px;
}

/* 
write css
 */
.post-line {
	margin-top: 3px;
}

input {
	width: 206px;
}

.title {
	text-align: left;
	margin: auto;
}

.meta {
	text-align: left;
}

header {
	text-align: left;
}

header>.title {
	padding-bottom: 38px;
	padding-top: 28px;
}

.post {
	border: 1px dotted rgb(209, 209, 209);
	padding: 10px;
}

pre.prettyprint {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	margin-right: 30px;
	padding: 6px 12px;
	color: #85FF00;
	overflow: auto;
	word-wrap: break-word;
	font: 12px/1.5 Monaco, "Andale Mono", "Lucida Console",
		"Bitstream Vera Sans Mono", "Courier New", monospace;
	border: 1px dashed #CCC;
	background-color: #5C5C5C;
}

.inner-wrapper>header {
	margin-bottom: 30px;
	margin-top: 50px;
}

.menu-wrapper {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	background: #FFFFFF;
}

.menu-list {
	margin: 0 auto;
	padding: 0 0.875em;
	list-style: none;
}

.menu-list>li {
	display: inline-block;
}

.menu-list>li:first-child {
	margin-left: 0;
}

.menu-list>li:last-child {
	margin-left: 0;
	float: right;
}

.menu-list>li>a {
	padding-left: 1em;
	padding-right: 1em;
	color: #AAA;
	font-size: 1.2em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	outline: none;
	text-decoration: none;
}

.menu-list>li>a:hover {
	background-color: #706B6B;
}

.sub-title {
	margin-bottom: 10px;
	margin-top: 10px;
}

.container {
	margin-top: 10px;
	max-width: inherit;
	margin: auto;
}

.outer-wrapper {
	background: #D1D1D1;
	border-top: 2px solid #fff;
}

.inner-wrapper {
	padding-bottom: 20px;
	width: auto;
	margin: 0 10%;
}

.billboard {
	margin: 0 auto;
	padding-top: 42px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 0 0 1px #fff inset;
	-moz-box-shadow: 0 0 0 1px #fff inset;
	box-shadow: 0 0 0 1px #fff inset;
	background: #fff;
	border-bottom: 1px solid #ddd;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	color: #666;
	padding: 10px 0;
	font-size: .875em;
	line-height: 1.285;
	background: #fff;
	width: 100%;
	margin: 1em 0 0;
}

.footer {
	margin-top: 0px;
	background-color: inherit;
	border-top: inherit;
}

.default-tag a,.default-tag a span,.plus-tag a,.plus-tag a em,.plus-tag-add a
	{
	font: 12px/180% Arial, Helvetica, sans-serif;
	background: url(../img/tagbg.png) no-repeat;
}

.tagbtn a {
	min-width: 40px;
	color: #333333;
	display: block;
	overflow: hidden;
	margin: 0 10px 10px 0;
	padding: 0 10px 0 5px;
	white-space: nowrap;
}

.plus-tag {
	margin-top: 30px;
	margin-bottom: 20px;
}

.plus-tag a {
	background-position: 100% -22px;
}

.plus-tag a span {
	float: left;
}

.plus-tag a em {
	display: block;
	float: left;
	margin: 5px 0 0 8px;
	width: 13px;
	height: 13px;
	overflow: hidden;
	background-position: -165px -100px;
}

.plus-tag a:hover em {
	background-position: -168px -64px;
}

.plus-tag-add {
	height: 56px;
	font-size: 21px;
	font-weight: 300;
	margin-top: 30px;
}

.plus-tag-add  input {
	width: 200px;
	background: transparent;
	border: 1px solid #a4a2a2;
	padding: 6px 12px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	color: #221919;
}

.plus-tag-add .Button {
	border-color: #015E91;
	background-color: #3693D5;
	color: #fcf9f9;
	text-shadow: 0 -1px rgba(34, 25, 25, 0.5);
	border: 1px solid;
	opacity: 1;
	border-radius: .3em;
	cursor: pointer;
}

.plus-tag-add a {
	margin: 12px 0 0 20px;
	display: inline;
	font-size: 18px;
	padding: 0 0 0 16px;
	background-position: -289px -59px;
}

.plus-tag-add a.plus {
	background-position: -289px -96px;
}

.plus-tag-add a:hover {
	color: #3366cc !important;
	text-decoration: none;
}

.default-tag {
	margin-bottom: 20px;
	margin: 16px 0 0 0;
}

.default-tag .clearfix {
	display: block;
}

.default-tag a {
	background-position: 100% 0;
}

.default-tag a:hover {
	background-position: 100% -22px;
	color: #3366cc !important;
	text-decoration: none;
}

.default-tag a.selected {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.default-tag a.selected:hover {
	background-position: 100% 0;
	cursor: default;
}

.default-tag a span {
	padding: 0 0 0 11px;
	background-position: 0 -60px;
}

.default-tag a:hover span {
	background-position: 0 -98px;
}

.tag .plus-tag {
	margin-top: 10px;
}

.tag .plus-tag a, .tag .default-tag a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	color: #5A5957;
	/* 	font-size: 14px; */
	background-color: #EEEEEE;
	/* 	line-height: 31px; */
	/* 	padding: 0 10px; */
	display: inline-block;
	margin: 0 5px 5px 0;
	text-decoration: none;
	padding: 4px 9px;
	/* 	line-height: 1; */
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	white-space: nowrap;
	margin-right: 5px;
	background-position: -1000px -1000px;
}

.tag .plus-tag a:hover ,.tag .default-tag a:hover {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #333333;
	color: #FFFFFF;
	border-color: #ccc;
}

ul.unitList {
	width: 1000px;
	list-style: none;
	box-sizing: content-box;
}

.unitList .unit {
	position: relative;
	float: left;
	width: 208px;
	height: 208px;
	padding: 6px;
	margin: 25px 25px 0 0;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}

.unitList .mson-unit {
	box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.36);
}

.unitList .unit .mask {
	display: none;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background-color: #2d2d2d;
	width: 208px;
	height: 210px;
	z-index: 4;
	overflow: hidden;
	height: 210px;
}

.unitList .mson-unit .mask {
	display: block;
}

.unitList h4,.unitList .unit h4 {
	display: block;
	font-size: 24px;
	line-height: 29px;
	margin: 0 0 12px;
	max-height: 89px;
	-height: 89px;
	overflow: hidden;
	padding: 8px 14px 0;
	text-align: left;
	text-overflow: ellipsis;
	font-weight: normal;
	_width: 200px;
	_overflow: hidden;
}

.unitList .article h4 {
	position: relative;
	z-index: 5;
}

.unitList .mson-unit .article-h4 {
	height: auto;
}

.unitList .unit .mask .date {
	padding: 0 0 6px;
	margin: 0 20px 0;
	font-size: 12px;
	box-sizing: content-box;
}

.unitList .unit .mask .tags {
	position: relative;
	top: 5px;
	left: 5px;
	line-height: 1.5em;
	width: 160px;
}

.unitList .unit .mask .tags span {
	padding: 1px 4px 1px 4px;
}

.unitList .unit .mask .tags span:hover {
	background-color: rgb(95, 92, 92);
}

.unitList .unit .mask .edit-tag-btn {
	position: absolute;
	right: 10px;
	bottom: 42px;
}

.unitList .unit .mask .edit-tag-btn a {
	float: right;
	width: 18px;
	height: 21px;
	background: url(../img/edit-btn.png) no-repeat -20px 0;
}

.unitList .unit .mask .edit-tag-btn a:hover,.unitList .unit .mask .edit-tag-btn a:active
	{
	background-position: -40px 0;
}

.unitList .unit .mask .edit-tag-btn a span {
	display: none;
}

.unitList .del-btn {
	position: absolute;
	z-index: 1;
	height: 25px;
	width: 18px;
	right: 10px;
	bottom: 10px;
}

.unitList .del-btn a {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../img/edit-btn.png) no-repeat -20px -22px;
}

.unitList .del-btn a:hover,.unitList .del-btn a:active {
	background-position: -40px -22px;
}

.unitList .del-btn a span {
	display: none;
}

.unitList .unit-c {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.unitList .unit .unit-box {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

.unitList .mson-unit .unit-box {
	display: none;
}

.unitList .unit .content h4 {
	height: 89px;
}

.unitList .mson-unit .content h4 {
	color: #fff;
	height: auto;
	display: none;
}

.unitList .mson-unit h4 a:link,.unitList .mson-unit h4 a:visited {
	color: #fff;
}

.unitList .unit .content .desc {
	padding: 0 14px 0;
	height: 62px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	background-color: #ccc;
	min-height: 28px;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ea5449;
}

::-webkit-scrollbar-thumb:active {
	background-color: #dd453a;
}

::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal
	{
	background-color: transparent;
}

::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal
	{
	border-width: 0;
	border-style: solid;
	border-color: transparent;
}

.loader {
	width: 100%;
	height: 60px;
	background: url(../img/loader.gif) no-repeat center #FFF;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.page-style .page-item-left {
	margin: 10px;
	float: left;
}

.about-me .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}

.about-me .entry-content {
	clear: both;
	padding: 12px 0 0 0;
}

.about-me  h3 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}

.about-me p {
	margin-bottom: 24px;
}

.cjk {
	border-bottom: 1px rgb(223, 218, 218) dotted;
	margin-bottom: 5px;
}

.mod-detail-pager {
	margin-top: 20px;
}

.mod-detail-pager .detail-nav-pre a,.mod-detail-pager .detail-nav-next a
	{
	height: 28px;
	display: inline-block;
}


a:hover {
	color: #000000;
	-webkit-transition: color .15s linear, background-color .3s linear;
	-moz-transition: color .15s linear, background-color .3s linear;
	-o-transition: color .15s linear, background-color .3s linear;
	-ms-transition: color .15s linear, background-color .3s linear;
	transition: color .15s linear, background-color .3s linear;
}